:root {
    --h1-color: #485C6E;
    /*    #485C6E */
    --h3-color: #83677b;
    /*    #ff7f0e */
    --h4-color: #5C8798;
    /*    #5C8798 */
    --mini-container-color: #FFF7F1;
    --pretty-container-color: #e8f1f9;
    /*    #e8f1f9 */
}

* {
    font-family: Roboto;
    color:var(--h1-color);
}

h1 {
    color: var(--h1-color);
    margin-top: 0.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:36px;
}

h2 {
    margin-bottom: 1.5em;
}

h3 {
    color: var(--h3-color);
    text-align: center;
    margin-bottom: 0.5em;
}

h4 {
    color:var(--h4-color);
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h5 {
    margin-bottom: 0.5em;
}

img {
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    background-color: #FFFFFF;
    border-radius:  20px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 10px;
    position: relative;
    text-align: justify;
}

.sidebyside {
    display: flex;
}

.input-line {
    border-radius:  5px;
    margin: 5px;
}

.radio-select {
    margin-bottom: 10px;
}

.radio-select-map {
    margin-top: 10px;
    margin-right: 100px;
}

.radio-select-map2 {
    margin-top: 10px;
}

.basic-container {
    display: flex;
}

.basic-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mini_container {
    border-radius: 5px;
    background-color: var(--mini-container-color);
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.one.column,
 .one.columns                    { width: 8%;             }
 .two.columns                    { width: 16.25%;         }
 .three.columns                  { width: 22%;            }
 .four.columns                   { width: 33%;            }
 .five.columns                   { width: 39.3333333333%; }
 .six.columns                    { width: 49.75%;          }
 .seven.columns                  { width: 56.6666666667%; }
 .eight.columns                  { width: 66.5%;          }
 .nine.columns                   { width: 74.0%;          }
 .ten.columns                    { width: 82.6666666667%; }
 .eleven.columns                 { width: 91.5%; }
 .twelve.columns                 { width: 100%; margin-left: 0; }


 .pretty-container {
     border-radius: 20px;
     background-color: var(--pretty-container-color);
     margin: 10px;
     padding: 15px;
     position: relative;
     box-shadow: 2px 2px 2px lightgrey;
 }

.filter {
    margin-bottom: -1em;
}

/* .control_label { */
  /* padding-top: 1px; */
  /* color: #ff7f0e; */
  /* background-color: #0F570C; */
/* } */
